/* priyanshu */
.bodyColor{
    background-color: #EFF5F5 !important;
}

.profNav{
    background-color: #222831;
    height: 100px;
}

.ham{
    height: 55px;

}


.footer{
    padding-bottom: 50px;
    background-color: #B3C7D6FF;
    margin-top: 70px;

}

.footerMain{
    padding-bottom: 50px;
    background-color: black;
    margin-top: 70px;

}

.footerDiv{
    padding: 60px  0 0 60px;
    display: flex;
   flex-wrap: wrap;
    gap: 30px;
}

.galaxyFold{
    padding-left: 20px; 
    justify-content: center;
}

.clickHere{
    text-decoration: none; color: #FAEAB1; font-weight: 500;
}

.clickHere:hover{
    text-decoration: underline;
}

.gg{
    width: 100%;
    margin: 100px 0px;
}

.p{
    padding-left: 1%;
}

.cont1{
    height: 10vh;
    width: 100%;
    background-color: black;
}
.cont2{
    height: 5vh;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px black;
}
.cont3{
    height: 25vh;
    width: 100%;
    background-color: gray;
}
.cont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.contimg{
    height: 185px;
    width: auto;
    border-radius: 8px;
}

.iit{
    border: 1px solid;
}

/* patent */

/* .apply{
    background-image: linear-gradient(to bottom , rgb(110, 150, 150) , azure) ; 
    border-width: 1px;
    border-radius: 5px;
    padding: 6px; 
    border-color: black;
}

.apply:hover{
    background-image: linear-gradient(to bottom , #e3211a ,  #e33c3c ,#f55648);
} */



.emailAbout{
    text-decoration: none;
    color: black;
}

.emailAbout:hover{
    text-decoration: underline;
}

.email{
    text-decoration: none;
    color: white; 
}

.email:hover{
    text-decoration: underline;
}

.mobile{
    text-decoration: none;
    color: white; 
    padding-top: 4px;
    
}

.mobileAbout{
    text-decoration: none; 
    padding-top: 4px;
    color: black;
}

.mobileAbout:hover{
    text-decoration: underline; 

}

.mobile:hover{

    text-decoration: underline;
    
}

.clickHereAbout{
    text-decoration: none; color: black;
    font-weight: 400;
}

.clickHereAbout:hover{
    text-decoration: underline;   
}
 

 /* home */
 
 .ab{
    text-align: left;
    padding: 60px;
}
.ab li{
    font-size: 20px;
    font-family: Montserrat;
}

 .th{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
.one{
    color: white !important;
}
.one:hover{
    background-color: black;
    color: rgb(207, 207, 207) !important;
}
.navbar{
    padding: 0;
}
.xx{
    font-size: 20px;
    font-family: Montserrat;
    line-height: 100%; 
    height: 318px;
    
}
.txt-cent{
    text-align: center !important;
    padding: 40px;
}
/* home */


/* gallery */


.style-main{
    
    background-color: #e7e7e7;
    display: flex;
     flex-wrap: wrap;
     gap: 20px;
     padding: 50px;
     justify-content: center;



}
.mg-lft{
    font-family:  Montserrat;
    border-radius: 20px;
      
}

.card{
    padding: 5px;

}
.mgt{
    margin-top: 30px;
}
 /* gallery */

/* sravya */
/* main page */

.listItems{
    z-index: 100;
}


#stick_page{
    position: fixed;
    padding-top: 30px;
    width: 100%;
    z-index:99;
    top: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centeredGallery {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.bgImage{
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    
  }

.soilImage{
    height: 500px;
  }

  .resLogo{
    margin-right: 15px;
  }
 

  @media screen and (max-width: 700px) {
    .hamPlace{
      width: 360px;
    }

    .resLogo{
        margin-top: 7px;
    }

    .footerDiv{
        padding: 60px  0 0 100px;
        
    }

  }

  .mainNavHover{
    font-weight: 500; 
    color: white; 
  }

  .mainNavHover:hover{
     color: rgb(191, 189, 189);
  }
 
.responsivex{
    width: 250px;
}

@media (max-width:992px) and (min-width: 768px) {
    .responsivex{
        width: 200px;
        height: 300px;
        margin:auto;
    }
}
  /* phones */

  @media (max-width: 462px) { 
    .for-phones{
     padding-left: 50px !important ;
    }
    
  }
  @media (max-width:768px) {
    .abouttxt{
        margin-top: 20px;
        text-align: justify;
        padding: 0 50px;
    }
    .footerDiv{
        flex-direction: column ;
        gap: px;
    }
    .anncheight{

    }
  }

  @media (max-width: 429px) { 
    .resLogo{
        display: none;
        
    }
    .labName {
        display: none;
    }
    .galaxyFold{
        padding-left: 5px;
    }
    .footer{
     justify-content: center;
    }
        
    .footerDiv{
        padding-left: 60px;
        
    }
    
    .cont-2{

        display:flex;
        flex-direction: column;
    }

}
.abouttxt{
    margin-top: 20px;
    text-align: justify;
    padding: 0 50px;
}


 .cont-3{
    display: flex !important;
    flex-wrap: wrap;
   margin: 0px;

    gap: 8px !important;
    
    justify-content: left !important;
 }

 .foot4{
    display: flex;
    flex-direction: column;
    justify-content: left;

 }

 .overflow_footer{
    overflow-x: hidden;
 }
/* priyanshu publ */
.ovflo {
    overflow-x:scroll;
}


/* zigzag cards */
.border-main{
    border-radius: 3%;
    border-style: ridge;
    margin: 40px 40px 60px 40px;

}
.zigzag-cards{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding: 5%;

}

.zigzag-item-1{
    padding: 20px 0px 20px 0px;
    
}
.zigzag-item-1 img{
    width: 40vw;
    height: auto;
    /* border: solid 1px ; */
    border-radius:  20px 20px 20px;
  box-shadow: 0 5px 15px 2px ;
    
}
.zigzag-item-2{
    padding: 2%;
    text-align: justify;
   
}

@media (max-width: 867px){
.zz-phone-1{
    flex-direction: column-reverse;

}
.zigzag-item-1 img{
    width: 70vw;
    height: auto;
}
.zz-phone-2{
    flex-direction: column  ;

}
}
/* zigzag cards */

/* post vacancies */
.intern{
    color: rgb(63, 63, 165);
}
.intern:hover{
    color:blue;
}

/* research */
.research_phd{
    text-decoration: none;
    font-weight:500; 
    color: black;
}
.research_phd:hover{
    color: rgb(112, 112, 112);
}
